* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    border-color: red;
    border-style: dashed;
    border-radius: 10px;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(140, 207, 187);
    
}


header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(112, 208, 240);
    height: 88px;
    text-align: center;
    
}

#profilePicture {
    margin-left: 100px;
    position: relative;
    top: auto;
    left: auto;
}

header h1 {
    text-align: center;
    font-size: 45px;
    padding: 15px 186px;
    margin-left: 772px;

}



header nav ul li {
    display: inline;
    padding: 27px;
}

header nav ul {
    margin-top: 8px;
    padding-right: 10px;
}

a {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 40px;
    font-size: 14pt;
}

main {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 300px;
    gap: 100px;
    grid-template-areas: 
        "AsideAbout SectionAbout"
        "AsideApp SectionApps"
        "AsideContact SectionContact";
 
    margin: 10px auto;
}

aside {
    border-right: black;
    border-style: solid;
    border-width: 10px;
    list-style: none;
    text-align: Right;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
}

aside li {
    position: relative;
    top: 2px;
    left: 2px;
}

.Aside-About-Me {
    grid-area: AsideAbout;
    background-color: beige;
}

.Aside-Applications{
    grid-area: AsideApp;
    background-color: beige;
}

.Aside-Contact {
    grid-area: AsideContact;
    background-color: beige;
}

.About-Me-Section {
    grid-area: SectionAbout;
}

.Applications-Section {
    grid-area: SectionApps;
}

.Contact-Me-Section {
    grid-area: SectionContact;
}

.Applications-Section {
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap:100px;
    justify-content: space-evenly;
    align-content: space-evenly;

}

.Applications-Section img{
    position: relative;
    height: 400px;
    width: 400px;
    top: 2px;
    right: 2px;
}
section {
    background-color: rgb(232, 219, 235);
}

footer {
    background-color: rgb(161, 99, 23);
}

@media screen and (max-width: 992px) {
    .card {
        width: 50%
    }
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }