* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}    

header {
    color: white !important;
    font-family: Bookman;
    font-size: 24pt;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url(./assets/headerbackground1.jpg);
    background-size:cover;

}

header img {
    height: auto;
    width: 100px; 
}

/*When the screen is below 768px*/
@media screen and (max-width: 768px){
    h1 {
        font-size: 24pt;
        max-height: fit-content;
    }
    ul{
        font-size: 8pt;
    }
    
}

nav ul {
    font-size: 12pt;
    display: flex;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav a{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 150px auto;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-color: white;
    margin: 20px 40px 20px;
}


.Section-Title-Headers {
    font-family: Bookman;
    font-size:xx-large;
    color: blue;
    border-right: 2px solid darkblue;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;

}

.about-me-content p {
    text-align: justify;
    padding: 5px;
}

.applications-content {
    gap: 20px;
    text-align: center;
}

.project1 {
    height: 600px;
}

.project1 img {
    height: 100%
}

.applications-content img {
    width:95%;
    height: 300px;
}

.project1, .project2, .project3 {
    border: solid 10px lightblue;
    padding: 10px;
}

.project1:hover, .project2:hover, .project3:hover{
    box-shadow: 0 0 30px black inset;
    filter: brightness(140%);
}

/*When the screen goes over 768px*/
@media screen and (min-width: 768px) {

    main {

        grid-template-columns: 300px auto;
    }
    .applications-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}


/*when the screen goes over 992px*/
@media screen and (min-width: 992px) {
    .applications-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}




/*when the screen is in between 768px and 992px we want the second row to span both columns*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    .project3 {
       grid-column: span 2;
       text-align: center;
    }
    .applications-content{
        row-gap: 20px;
        column-gap: 20px;
    }

}


img.project1:hover {
        filter: brightness(75%);
}

.contact-info{
    display: flex;
    font-size: 12pt;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    color:brown;
}

footer {
    background-color: rgb(161, 99, 23);
}